{% extends 'base.html' %}

{% block title %}
	<title>driver - {{ driver.username }}</title>
{% endblock %}


{% block content %}
	<h1>Driver - {{ driver.username }}</h1>
  <p><b>Email</b>: {{ driver.email }}</p>
  <p><b>License number:</b> {{ driver.license_number }}</p>
  <hr>
  <p><b>First name:</b> {{ driver.first_name }}</p>
  <p><b>Last name:</b> {{ driver.last_name }}</p>
  {% if driver.cars %}
  	<ul><strong>Cars:</strong>
      {% for car in driver.cars.all %}
      	<li>
          <a href="{% url 'taxi:car-detail' car.id %}">
            {{ car.model }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
