{% extends "base.html" %}

{% block title %}
	<title>Manufacturers</title>
{% endblock %}

{% block content %}
  <h2>Manufacturers</h2>
	<table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      {% for manufacturer in manufacturer_list %}
      	<tr>
          <td>{{ manufacturer.pk }}</td>
          <td>{{ manufacturer.name }}</td>
          <td>{{ manufacturer.country }}</td>
        </tr>
      {% endfor %}
      
    </tbody>
  </table><br>
{% endblock %}
